<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<%= javascript_pack_tag 'mypage' %>
<div class="container">
  <%= render partial: "shared/component/heading" %>
  <div class="row content-area">
    <div class="main-container col-md-8">
      <div class="mydata card">
        <h2>プロフィール</h2>
        <div class="profile-container">
          <p class="profile-name">
            <strong><%= current_user.name %></strong>さん</p>
          <p class="profile-profile">一言：<%= current_user.profile %></p>
        </div>
        <!-- <div class="chart-container">
          <canvas id="rader-chart"></canvas>
        </div> -->
        <hr>
        <h2>最近投稿したマナー</h2>
        <%= render partial: "shared/mypage_manners_container", collection: @manners %>
        <hr>
        <h2>最近投稿したお題</h2>
        <%= render partial: "shared/mypage_subjects_container", collection: @subjects %>
        <hr>
        <h2>最近のいいね</h2>
        <%= render partial: "shared/mypage_favorites_container", collection: @favorites %>
      </div>
    </div>
    <div class="side-container col-md-4">
      <% if params[:id] == current_user.id.to_s %>
        <%= render partial: "shared/mypage_right_menu" %>
      <% else %>
        <%= render partial: "shared/right_side_container" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'like' %>
