<div class="header-bottom-nav">
  <div class="card-link">
    <%= link_to "お題一覧", subjects_path, class: '' %>
  </div>
  <div class="card-link">
    <%= link_to "お題を投稿する", new_subject_path, class: '' %>
  </div>
  <div class="card-link">
    <%= link_to "カテゴリ", categories_path, class: '' %>
  </div>
  <div class="card-link">
    <%= link_to "お知らせ", categories_path, class: '' %>
  </div>
  <div class="card-link">
    <%= link_to "注意事項", categories_path, class: '' %>
  </div>
  <div class="card-link">
    <%= link_to "お問い合わせ", categories_path, class: '' %>
  </div>
</div>
