<%= render partial: "shared/nav_bar" %>
<%= render partial: "shared/header_img" %>
<div class="container">
  <%= render partial: "shared/header_nav" %>
  <div class="row content-area">
    <div class="main-container col-md-8">

      <% @subjects.each do |subject| %>
        <div class="card subject-container">
          <%= render partial: "shared/subject_container", locals: { subject: subject } %>
          <%= render partial: "shared/subject_bottom", locals: { subject: subject } %>
        </div>
      <% end %>
    </div>
    <div class="side-container col-md-4">
      <%= render partial: "shared/right_side_container" %>
    </div>
  </div>
</div>
