<div class="container">
  <%= render partial: "shared/component/heading" %>
  <div class="row content-area">
    <div class="main-container col-md-8">
      <div class="category-index-container card">
        <ul class="list-group category-list">
          <% @categories.each do |category| %>
            <a href="<%= category_path(category)%>" target="_self" class="category-index-list-link">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= category.name %>
                <span class="badge badge-primary badge-pill"><%= category.subjects_count %></span>
              </li>
            </a>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="side-container col-md-4">
      <%= render partial: "shared/right_side_container" %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'like' %>
