<div class="container">
  <%= render partial: "shared/component/heading" %>
  <div class="row content-area">
    <div class="main-container col-md-8">
      <div class="inquiry-container form-container">
        <%= form_for @inquiry, url: { action: :create } do |f| %>
        <div class="field">
          <%= f.label :title, '件名' %>
          <%= f.text_field :title, class: 'mx-auto' %>
        </div>
        <div class="field">
          <%= f.label :content, '内容' %>
          <%= f.text_area :content %>
        </div>
        <% if @inquiry.errors.any? %>
          <h2>エラー</h2>
          <ul>
            <% @inquiry.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
  <div class="side-container col-md-4">
    <% if params[:id] == current_user.id.to_s %>
      <%= render partial: "shared/mypage_right_menu" %>
    <% else %>
      <%= render partial: "shared/right_side_container" %>
    <% end %>
  </div>
</div>
</div>
